@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    /* overflow-y: hidden; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F2F0;
}

/* -------------------------------------------------------- */
/* ---------------------NavBar----------------------------- */
/* -------------------------------------------------------- */

.nav-container {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    padding: 2em 4em 0em 4em;
    justify-content: space-between;
}

.nav-logo {
    width: 8em;
}
 
.nav-line {
    width: 20vw;
    height: 0.125em;
    margin-right: -22vw;
    background-color: #333333;
}

.nav-list {
    width: 35vw;
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    color: #8A8A8A;
    font-size: 1.3rem;
    text-decoration: none;
}

.nav-list a:hover {
    color: #4F4F4E;
    font-weight: 500;
}

.nav-list a::after {
    width: 0%;
    content: "";
    height: 0.1em;
    display: block;
    background-color: #4F4F4E;
    transition: width 0.5s ease;
}

.nav-list a:hover::after {
    width: 100%;
}

/* -------------------------------------------------------- */
/* ---------------------Main------------------------------- */
/* ------------------Left-Section-------------------------- */
/* -------------------------------------------------------- */

.main {
    display: flex;
    justify-content: center;
}

.main-left-section {
    width: 32vw;
    height: 100vh;
    background-color: #000000;
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/pexels-rfstudio-3819572.jpg);
}

/* -------------------------------------------------------- */
/* -------------------Right-Section------------------------ */
/* -------------------------------------------------------- */

.main-right-section {
    width: 68vw;
    margin-top: 5em;
}

/* -------------------------------------------------------- */
/* --------------------Top-Containt------------------------ */
/* -------------------------------------------------------- */

.top-containt {
    gap: 1em;
    display: flex;
    margin-top: 0.5em;
    padding-inline: 4em;
    justify-content: space-between;
    height: 40vh;
}

.top-containt-left {
    flex: 3;
}

.top-containt-left h1 {
    margin-top: 0.1em;
    margin-left: 0.6em;
    font-size: 8rem;
    line-height: 1.1;
}

.top-containt-left .text-left {
    color: #F5F2F0;
    -webkit-text-stroke: 1.5px black;
    margin-left: 0.2em;
}

.top-containt-left .text-right {
    color: #333333;
    margin-left: 1.8em;
}

.top-containt-right {
    flex: 2;
}

.top-containt-right-top {
    display: flex;
    justify-content: space-between;
}

.top-containt-right-top p {
    color: #8A8A8A;
    width: 6em;
    font-size: 2.5rem;
    align-self: flex-end;
}

.social {
    gap: 2.8em;
    width: 1.8em;
    display: flex;
    cursor: pointer;
    padding-block: 1em;
    flex-direction: column;
}

.top-containt-right a {
    padding: 1em;
    display: flex;
    color: #F5F2F0;
    font-weight: 500;
    margin-top: 0.5em;
    font-size: 1.3rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: #333333;
}

.top-containt-right a:active {
    color: #828282;
}

/* -------------------------------------------------------- */
/* -------------------Bottom-Containt---------------------- */
/* -------------------------------------------------------- */

.bottom-containt {
    gap: 8em;
    display: flex;
    padding-inline: 4em;
    margin-top: 4em;
}

.bottom-containt-left {
    gap: 2em;
    display: flex;
}

.cirle-line-container {
    display: flex;
    margin-top: 0.5em;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    background-color: #828282;
}

.circle:hover , .circle:first-child  {
    background-color: #333333;
}

.line {
    height: 4em;
    width: 0.11em;
    background-color: #828282;
}

.container-text  {
    gap: 1.6em;
    display: flex;
    color: #828282;
    font-size: 1.7rem;
    flex-direction: column;
}

.container-text p:hover ,.container-text p:first-child {
    color: #333333;
}

.bottom-containt-right {
    display: flex;
}

.fa.fa-quote-right {
    font-size: 4rem;
    color: #333333;
}

.bottom-text {
    width: 24em;
    color: #030303;
    font-weight: 500;
    font-size: 1.3rem;
    margin-block: 1.1em;
}

.dance-img {
    width: 30em;
    height: 16em;
    background-size: 100% 99%; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/pexels-cottonbro-7974875.jpg);
}

.arrow {
    right: 5em;
    bottom: 4em;
    height: 11em;
    width: 0.18em;
    position: absolute;
    background-color: #000;
}

.arrow2 {
    height: 3em;
    right: 4.2em;
    bottom: 3.7em;
    width: 0.18em;
    position: absolute;
    background-color: #000;
    transform: rotate(30deg);
}

.arrow3 {
    height: 3em;
    width: 0.18em;
    right: 5.75em;
    bottom: 3.7em;
    position: absolute;
    background-color: #000;
    transform: rotate(-30deg);
}

/* -------------------------------------------------------- */